# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Build files
Build/

# OS files
.DS_Store
Thumbs.db